body {
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 65px;
    width: 100%;
    color: #030826;
    font-weight: 530;
}
#div-bar1 {
    height: 45px;
    width: auto;
    background-color: #011b33;
    color: white;
}
.container-xxl {
    width: 600px;
}
.cont2 {
    margin-left: 250px;
    background-color: transparent;
    width: 600px;
}
#left-item {
    width: 650px;
    height: 310px;
    margin-right: 300px;
}
.drop1 {
    float: left;
    width: 500px;
    height: 100px;
}
.drop2 {
    float: right;
}
#item-right {
    width: 630px;
    height: 400px;
}
.droplearn {
    align-items: center;
    width: 100px;
    background-color: aqua;
    float: right;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.main-text {
    height: 110vh;
    background-color: #e2fee2;
    padding-top: 150px;
    padding-left: 90px;
}
a {
    text-decoration: none;
}
.navbar {
    position:fixed;
}
.m-text {
    color: #030826;
    padding-top: 70px;
    font-weight: 700;
    font-size:51.2px;
}
.mp-text {
    padding-top: 5px;
    font-size:22.2px;
}
.btn-main {
    width: 250px;
    height: 53px;
}
.sub-main {
    color: green;
    margin-left: 15px;
}
.main-bottom {
    padding-top: 320px;
}
#play-btn {
    float: right;
    margin-top: -60px;
}
h5  {
    margin-top: -60px;
    float: right;
}
.container-fluid {
    padding-top: 150px;
    padding-left: 100px;
}
.poptions {
    padding-top: 70px;
    padding-left: 100px;
}
.beside-poption1 {
    margin-top: -650px;
    padding-right: 150px;
    float: right;
}
.icon2 {
    float: right;
    margin-top: -153px;
    padding-right: 90px;
}
.beside-poption2 {
    margin-top: -210px;
    padding-right: 200px;
    float: right;
}
.beside-poption2-link a {
    color: green;
}
.beside-poption2-link i:hover {
    color: green;
} 
.sect3 {
    padding-left: 100px;
    margin-top: 150px;
    height: 600px;
}
.sect3-text {
    padding-top: 50px;
}
.sect3 a {
    color: green;
}
#robust {
    float: right;
    margin-top: -585px;
}